
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family:"Lato",sans-serif;
}
.hero{
    background-color:antiquewhite;
}
.container{
    /* width:75px; */
    /* max-width:1440px; */
    /* margin:0 auto; */
    display:flex;
    justify-content:space-between;

}
.banner-text {
    font-family: Lato;
    margin-bottom:32px;
    max-width:525px;

}
.banner-text h1{
    
    color:rgba(39, 39, 39, 1);
    font-family:lato;
    font-size:60px;
    font-style:normal;
    font-weight:800;
    line-height:normal;
}
.banner-text p{
    color:rgba(39,39,39,0.6);
    font-family:Lato;
    font-size:19px;
    font-style:normal;
    font-weight:400;
    line-height:30px;
}


.banner-text button{
    border-radius:2px;
    color:rgba(229, 84, 115, 1);
    border:2px solid tomato;
    border-radius:8px;
    background:rgba(229, 84, 115, 1);
    color:#fff;
    font-size:20px;
    padding:15px 15px;
    
}

    
    

/* .container{
    width:75px;
    max-width:1440px;
    margin:0 auto;
} */
 .banner .banner-img{
    width:100%;
    vertical-align:middle;

 }
/* featured */
.container1{
    width:75%;
    max-width:1440px;
    margin:0 auto;
}
.section-heading{
    max-width:500px;
    text-align:center;
    margin:20px auto;
}
.section-heading h2{
    color:#272722;
    text-align:center;
    font-size:40px;
    font-style:normal;
    font-weight:800;
    line-height:normal;
    margin-bottom:16px;

}
.dea-img{
    max-width:315px;
}
#featured{
    padding:100px 0;
}
.section-container{
    display:flex;
    justify-content:space-between; 
    gap:2px;

}
.flower .flower-img{
    background-color:antiquewhite;
    border-radius:300px 300px 0px 0px;
    padding:20px, 15px,0px;
    height:500px;
}
.section-content .flower .flower-img{
    width:100%;
}
.section-content .flower .pink{
    background:rgba(167,33,98,0.15);
}
.section-contaent .flower .blue{
    background:rgba(5,151,160,0.15);
}
.section-content .flower .green{
    background:rgba(71,125, 17,0.15);
}
.section-content .flower p{
    color:#272722;
    text-align:center;
    margin-top:16px;
    font-size:24px;
    font-style:normal;
    font-weight:800;
    line-height:15px;
    text-decoration-line: underline;
}
.hot-dea{
    display: flex;
    justify-content:space-between;
    /* text-align:row; */
    background:rgba(229, 84, 115, 0.1);
}
.dea-text h1{
    color:rgba(39, 39, 39, 1);
    font-size: 40px;
    font-family:'lato';
    font-style:normal;
    font-weight:600;
}
.dea-textp{
    font-family:'lato';
    line-height:30px;
    opacity: 100%;
    font-weight:594;
    
}
.hot-dea .dea-text{
    width:75%;
    max-width:445px;
}
.btn{
    border-radius:2px;
    color:rgba(229, 84, 115, 1);
    border:2px solid tomato;
    border-radius:8px;
    background:rgba(229, 84, 115, 1);
    color:#fff;
    font-size:20px;
    padding:15px 15px;
    
}
.ins-text{
    display:flex;
    justify-content:center;
    margin-bottom:24px;
    /* text-align:center; */
    
}
/* .ins-text h1{
    font-size:48px;
    font-weight:600;
    font-family: 'lato';
    opacity: 100%;

} */
.ins-text h1{
    color:#272722;
    font-family:'lato';
    font-size:40px;
    font-weight:800;
    line-height:normal;
    margin-bottom:24px;

}
.important{
    color:#E55473;
}
.ins-text p{
    color:rgba(39, 39, 39, 0.6);
    opacity:100%;
    line-height:30px;
    
}
.ins-flower{
    display:flex;
    justify-content:space-between;
}
